<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @user_story, partial: "card", as: :user_story %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
