<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Outgoing Controls

    <a data-toggle="collapse" href="#screen_outgoing_controls_new_form">
      Add control
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @screen.outgoing_controls.each do |control| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to control, control %>

        <%= link_to control, method: :delete, data: { confirm: "Do you really want to delete this control" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="screen_outgoing_controls_new_form">
        <%= render partial: "screens/screen_outgoing_controls_new_form" %>
      </div>
    </div>

  </ul>
</div>
