<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Callbacks

    <a data-toggle="collapse" href="#event_callbacks_new_form">
      Add callback
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @event.callbacks.each do |callback| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to callback, callback %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to callback, method: :delete, data: { confirm: "Do you really want to delete this callback" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="event_callbacks_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
