<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    User Stories

    <a data-toggle="collapse" href="#project_user_stories_new_form">
      Add user story
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @project.user_stories.each do |user_story| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to user_story, user_story %>

        <%= link_to user_story, method: :delete, data: { confirm: "Do you really want to delete this user_story" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="project_user_stories_new_form">
        <%= render partial: "projects/project_user_stories_new_form" %>
      </div>
    </div>

  </ul>
</div>
