<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Callbacks

    <a data-toggle="collapse" href="#project_callbacks_new_form">
      Add callback
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @project.callbacks.each do |callback| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to callback, callback %>

        <%= link_to callback, method: :delete, data: { confirm: "Do you really want to delete this callback" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="project_callbacks_new_form">
        <%= render partial: "projects/project_callbacks_new_form" %>
      </div>
    </div>

  </ul>
</div>
